@* 
    Our Model for this View is a List of Strings (e.g. List<string>)
    It represents a list of strings that are color values
*@

@* Insert model here... *@
@model List<string>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/styles.css" />
</head>
<body>
    <header>
        <h1>ASP.NET MVC Exercises - Views Part 2: Models</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
        </ul>
    </nav>

    <section id="main-content">
        <h2 class="center">List of Colors</h2>
        <ul>
            @* Show name of each color in the list as <li>.  Color of the <li> should match the color's name. *@
            @foreach(string color in Model) {

                <li style="color: @color">@color</li>

            }
            


        </ul>
    </section>

</body>
</html>