
@{ 
    Layout = null;  //<-- ignore this for now, it is used to create reusable site layouts
}

<!DOCTYPE html>

<html>
<head>
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome!</h1>
</body>
</html>
