
@using m5_LoginSample.Models
@model User

<h1>This is the User Info Page</h1>

Id: @Model.Id
<br />
Username: @Model.Username
<br />
Password: @Model.Password


<a href="/Home/SuperSecret">Super Secret Page!</a>
